<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Artemis Mission Simulation{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/main.css">
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <nav>
            <h1>Artemis Mission Architecture Simulation</h1>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
